body{
margin:0;
font-family:'Poppins',sans-serif;
overflow-x:hidden;
}

.background{
position:fixed;
width:100%;
height:100%;
background:url("bg.jpg") center/cover no-repeat;
z-index:-1;
}

.section{
min-height:100vh;
padding:80px 20px;
display:none;
}

.section.active{
display:block;
}

.mainTitle{
text-align:center;
font-family:'Dancing Script',cursive;
font-size:50px;
color:#ff2f7d;
margin-bottom:70px;
}

/* TIMELINE */
.timeline{
position:relative;
max-width:1200px;
margin:auto;
}

.line{
position:absolute;
left:50%;
transform:translateX(-50%);
width:4px;
background:#ff2f7d;
box-shadow:0 0 20px rgba(255,47,125,0.6);
z-index:1;
}

.event{
position:relative;
width:42%;
background:white;
padding:30px;
border-radius:20px;
box-shadow:0 20px 40px rgba(0,0,0,0.15);
margin:100px 0;
z-index:2;
}

.event.left{margin-right:auto;}
.event.right{margin-left:auto;}

.event span{
color:#ff2f7d;
font-weight:600;
}

/* EMOJI */
.event::after{
content:attr(data-emoji);
position:absolute;
top:40px;
left:calc(100% + 25px);
width:55px;
height:55px;
background:white;
border-radius:50%;
display:flex;
align-items:center;
justify-content:center;
font-size:22px;
box-shadow:0 0 15px rgba(255,47,125,0.4);
}

.event.right::after{
left:auto;
right:calc(100% + 25px);
}

/* CONNECTOR */
.event::before{
content:"";
position:absolute;
top:65px;
width:25px;
height:3px;
background:#ff2f7d;
}

.event.left::before{right:-25px;}
.event.right::before{left:-25px;}

/* FINAL CARD */
.finalCard{
width:42%;
margin:140px auto 80px;
background:white;
padding:40px;
border-radius:20px;
text-align:center;
box-shadow:0 20px 40px rgba(0,0,0,0.15);
position:relative;
z-index:3;
}

.finalCard h3{
color:#ff2f7d;
font-size:24px;
}

/* CONTINUE */
.continueBtn{
display:block;
margin:20px auto 0;
padding:15px 40px;
background:#ff2f7d;
border:none;
border-radius:30px;
color:white;
font-size:18px;
cursor:pointer;
}

/* QUIZ */
#quizSection{
height:100vh;
overflow:hidden;
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;
}

.quizCard{
width:60%;
background:white;
padding:60px;
border-radius:25px;
box-shadow:0 20px 50px rgba(0,0,0,0.2);
text-align:center;
}

.quizCard h2{
font-family:'Playfair Display',serif;
font-size:32px;
margin-bottom:40px;
}

.options{
display:flex;
justify-content:center;
gap:40px;
margin-bottom:30px;
}

.options button{
min-width:160px;
padding:15px 30px;
border-radius:30px;
border:none;
background:#ff2f7d;
color:white;
font-size:18px;
cursor:pointer;
}

.reaction{
font-size:20px;
color:#ff2f7d;
min-height:40px;
}

.nextBtn{
margin-top:20px;
padding:12px 30px;
border:none;
border-radius:25px;
background:#ff2f7d;
color:white;
cursor:pointer;
display:none;
}
